<!DOCTYPE html>

<html lang='en'>
  <head>
  	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A room reservation system">
    <meta name="author" content="Team D">
    <title>
  		OpenSpace -- My Events
  	</title>
      <!-- Bootstrap styles -->
      <link href="../static/bootstrap/dist/css/bootstrap.min.css">
      <!-- Custom styles for this template -->
      <link href="../../static/css/reset.css" rel="stylesheet">
      <link href="../static/css/navbar.css" rel="stylesheet"></link>
      <!-- Favicon -->
      <link rel="icon" href="">
      <!-- Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,400,300,700italic,700,500|Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  </head>

  <body id ="home">

    <section class="container">
      <div class="content row">
        <div class="col-sm-12 col-md-12">
          <header class="clearfix">
            <section id="branding">
              <a href=""> OpenTable </a>
            </section> <!-- branding -->
          </header> <!-- header -->
        <div> <!-- column -->
      </div> <!-- content -->
      <div class="content row">
        <section class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        </section> <!-- main -->
      <div> <!-- content -->
    </section> <!-- container -->

  </body>
</html>